<div class="card">
  <img src="https://cdn.pixabay.com/photo/2016/06/07/17/15/yogurt-1442034_1280.jpg" alt="" class="card-img-top">
  <div class="card-body">
    <small class="bg-light text-danger text-center">
      Design
    </small>
    <small class="bg-light text-sucess text-center ml-3">
      Featured
    </small>
    <small class="bg-light text-info text-center ml-3">
      Views - 100,254
    </small>

    <h5 class="mt-1">HOW TO START A BLOG IN 1999</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <small class="bg-light text-warning text-center ml3">LAST UPDATED - SEP 20, 2023</small>

  </div>
</div>
