<!-- Parent/chield Communications -->

<!-- app works !
<app-navbar></app-navbar>
<app-post [fromParent] = 'parentMessage' (messageEvent)="receiveMessage($event)"></app-post>
<p>{{fromChildOutput}}</p> -->

<!-- data binding and events  -->
<!-- <form class="form">
    <h2>Post Form</h2>
    <div class="input">
        <input type="text" name="title" (keyup)="onChangeInputs($event)" placeholder="Post Title">
    </div>
    <div class="input">
        <textarea name="details" id="" cols="30" rows="10" (keyup)="onChangeInputs($event)" placeholder="Post Details"></textarea>
    </div>
    <div class="input">
        <input type="text" name="imgUrl" placeholder="IMG Url" (keyup)="onChangeInputs($event)">
    </div>
    <div class="input">
        <input type="text" name="postUrl" placeholder="Post Url" (keyup)="onChangeInputs($event)">
    </div>
    <div class="input">
        <input type="checkbox" name="background" placeholder="Post Title" (change)="onChangeInputs($event)">Add Background
    </div>
</form>

<div>
    <h2>Post Preview</h2>
    <div class="post">
        <div class="post__title">
            <h3>{{formJson.title}}</h3>
        </div>
        <div class="post__details">
            <p>{{formJson.details}}</p>
        </div>
        <div class="post__img">
            <img src="{{formJson.imgUrl}}" alt="">
        </div>
        <div class="post__url">
            <a href="{{formJson.postUrl}}">Read More</a>
        </div>
    </div>
</div> -->
<!-- <app-directives></app-directives> -->
<!-- <app-task-section8></app-task-section8> -->

<!-- Template driven form is using angular resources -->
<!-- <app-template-driven-form></app-template-driven-form> -->

<!-- Reactive form is creating everything from scratch-->
<app-reactive-form></app-reactive-form>

